page {
  width: 100vw;
  color: #333;
  height: 100%;
  display: flex;
  position: relative;
  max-width: 100vw;
  font-size: 24rpx;
  min-height: 100%;
  font-weight: 400;
  flex-direction: column;
  background-color: #f4f6f7;
  font-variant-numeric: tabular-nums;
  font-family: Arial, Helvetica, sans-serif;
}
uni-button {
  margin: 0;
}

.input-placeholder {
  color: #999;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
}
button {
  margin: 0;
}

text {
  word-break: break-all;
}

input {
  font-family: Arial, Helvetica, sans-serif;
}

image {
  will-change: transform;
}

.uni-input-input[disabled="disabled"] {
  pointer-events: none;
}

::-webkit-scrollbar {
  display: none;
  width: 0 !important;
  height: 0 !important;
  -webkit-appearance: none;
  background: transparent;
  color: transparent;
}
